@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background: #333;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product .col-2 h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .row-2 .h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width:700px) {

    .row {
        text-align: center;
    }
    .col-1, .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    
}